@use '../../styles/variables.scss' as variables;

.shoppingCart {
    background-color: variables.$blue;
    width: 486px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 48px;
    font-family: Montserrat;
    box-shadow: -5px 0px 6px 0px #00000022;
    overflow-y: scroll;

    .shoppingCartText {
        font-style: 27px;
        font-weight: 700;
        margin-bottom: 64px;
    }

    .shoppingCartButton {
        @include variables.buttonClose;
        top: 48px;
        right: 24px;
    }

    .totalCartPrice {
        @include variables.displayFlex;
        // margin-top: 620px;
        font-size: 28px;
        font-weight: 700;
        bottom: 160px;
        justify-content: space-between;
    }

    .finishBuyButton {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 40px;
        background-color: variables.$black;
        margin: 0 auto;
        width: 100%;
        border: none;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: lighten($color: variables.$black, $amount: 20%);
        }
    }

}