@use '../../styles/variables.scss' as variables;

.products {
    padding: 116px 210px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    gap: 20px;
}