@use '../../styles/variables.scss' as variables;

.footer {
    background-color: variables.$footerColor;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 18px;

    .footerText {
        color: variables.$black;
    }
}