@use '../../../styles/variables.scss' as variables;

.productCard {
    box-shadow: 0px 2px 8px 0px variables.$lightGrey;
    border-radius: 8px;
    text-align: center;

    .productInfo {
        padding: 8px 16px;
        height: 280px;

        .productImg {
            width: 120px;
            height: 120px;
            margin: 18px auto;
            border: 1px solid variables.$borderColor;
            border-radius: 4px
        }

        .productPriceBox {
            @include variables.displayFlex;
            height: 40px;
        }

        .productName {
            font-weight: 400;
            font-size: 16px;
            color: variables.$primaryColor;
        }

        .productDescription {
            color: variables.$primaryColor;
            font-size: 12px;
            font-weight: 300;
            display: block;
            margin-top: 8px;

        }

        .productPrice {
            background-color: variables.$secondaryColor;
            padding: 4px 8px;
            border-radius: 5px;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .productCardButton {
        @include variables.displayFlex;
        justify-content: center;
        width: 100%;
        background-color: variables.$blue;
        border-color: transparent;
        border-radius: 0 0 8px 8px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: lighten(variables.$blue, $amount: 20%);
        }

        .productButtonImg {
            margin-right: 16px;
        }
    }

    @media (max-width: 400px) {
        width: 70%;
        margin: 16px auto;


        .productCardButton {
            margin-top: 30px;
        }
    }


}